.add-icon {
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  cursor: pointer;
}

mat-icon {
  border-radius: 10px;
  color: white;
  background-color: red;
}
.example-card{
  background-color: #f6e4d4;
}