<div class="div">
  <mat-card class="example-card p-3" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Detail Summary</mat-card-title>
        <mat-card-subtitle>Click to view </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <table class="table table-bordered text-center my-3">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Date Added</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Type</th>
            <th scope="col">Category</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
          @for (item of expenseListSignal(); track item._id ?? item.name; let i = $index) {
          <tr (click)="openExpense(item._id)" class="datas">
            <th scope="row">{{(currentPage - 1) * pagesize + i + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.date | date : 'shortDate' }}</td>
            <td>{{ item.amount | currency : (item.currency ?? 'INR') }}</td>
            <td>{{ item.paymentType }}</td>
            <td>{{ item.category?.name }}</td>
            <td [matTooltip]="(item?.comment?.length > 20) ? item.comment : null"> {{ item?.comment?.length > 20 ? (item.comment | slice:0:20) + '…' : item.comment }}</td>
          </tr>
          }

        </tbody>
      </table>
      <mat-paginator [length]="totalExpenses" [pageSize]="pagesize" [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event)" aria-label="Select page of expenses">
      </mat-paginator>
    </mat-card-content>
    <span class="add-icon" [routerLink]="'/ExpenseCalc/add-expense'"><mat-icon matTooltip="Add expense">add</mat-icon></span>
  </mat-card>
</div>