<div class="wrapper p-5">
    <div class="input my-2 d-flex justify-content-center            "> <mat-form-field appearance="outline">
        <mat-label>Expense Years</mat-label>
        <mat-select [(ngModel)]="selectedYear" (selectionChange)="getData($event.value)">
            @for (item of years(); track $index) {<mat-option value="{{ item }}">{{
                item
                }}</mat-option>}
        </mat-select></mat-form-field></div>
   
    <canvas class="w-100 h-auto" baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
    </canvas>
</div>