.box {
  background-color: #f6e4d4;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19%;
  text-align: center;
}

mat-icon {
  transform: scale(2);
}

p {
  padding: 3px 0;
}

.main {
  margin: auto;
}

.example-card{
  background-color: #f6e4d4;
  width: 44%;
}

.center{
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  font-size: 28px;
  font-weight: 600;
}
