.box {
  background-color: whitesmoke;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19%;
  text-align: center;
}

mat-icon {
  transform: scale(2);
}

p {
  padding: 3px 0;
}

.main {
  margin: auto;
}
