<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav pt-5" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle();openDialog()">Profile</a>
      <a mat-list-item (click)="sidenav.toggle();gotoAddExpense()">Add New Expense</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="justify-content-between">
      <div class="left d-flex align-items-center">
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        <span [routerLink]="'/'" (click)="sidenav.toggle();">My App</span>
      </div>
      <div class="right">logout</div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>