.sidenav-container {
  height: 100vh;
  background: transparent;
}

.sidenav {
  width: 250px;
}

mat-sidenav {
  background-color: #F5F5F0;

}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #2A4D3E;
  color: white;
  
}

mat-nav-list {
  position: relative;
  z-index: 5;
}

.main-logo {
  cursor: pointer;
}

.main {
  padding: 10px 25px;
}

.toggle{
  color: white;
}