<div class="main">
  <div class="top text-center p-3 fs-2 fw-bold">Profile</div>
  <div class="content mt-5 mb-4">
    <div class="icon"><mat-icon>person_2</mat-icon></div>
  </div>
  <p class="d-flex justify-content-center align-items-center" (click)="toggleEdit()">
    Edit.<mat-icon>edit</mat-icon>
  </p>
  @if(isEditing){
  <div class="d-flex justify-content-center">
    <button matButton="outlined" (click)="update()">Update</button>
  </div>
  }
  <div class="details my-3 d-flex justify-content-around">
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input type="text" matInput [(ngModel)]="name" class="" [readonly]="!isEditing" />
    </mat-form-field>
  </div>

  <div class="info d-flex justify-content-around gap-3">
    <div class="item">
      <p>Registered In</p>
      <p>{{ createdDate ? (createdDate | date : 'dd MMM yy') : 'N/A' }}</p>
    </div>
    <div class="item">
      <p>No of Entries</p>
      <p>{{ user().expense }}</p>
    </div>
    <div class="item">
      <p>Last entry</p>
      <p>{{user().expense === 0? `No entries`:user().lastExpenseDate}}</p>
    </div>
  </div>
</div>
