<div class="outer">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Enter new expense</mat-card-title>
        <mat-card-subtitle>All fields are required</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="my-5">
      <form [formGroup]="expenseForm" (ngSubmit)="submit()">
        <div class="d-flex justify-content-between gap-3 mb-1">
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Expense Name</mat-label>
              <input type="text" matInput formControlName="expenseName" />
              @if (expenseForm.controls['expenseName'].hasError('required') &&
              expenseForm.controls['expenseName'].touched) {
              <mat-error>Expense name is required</mat-error>
              } @else if (expenseForm.controls['expenseName'].hasError('minlength')) {
              <mat-error>Minimum 3 characters required</mat-error>
              } @else if (expenseForm.controls['expenseName'].hasError('maxlength')) {
              <mat-error>Maximum 50 characters allowed</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Amount Spent</mat-label>
              <input type="number" min="0" matInput formControlName="expenseAmount" />
              @if (expenseForm.controls['expenseAmount'].hasError('required') &&
              expenseForm.controls['expenseAmount'].touched) {
              <mat-error>Amount is required</mat-error>
              } @else if (expenseForm.controls['expenseAmount'].hasError('min')) {
              <mat-error>Amount must be greater than 0</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-between gap-3 mb-1">
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                [min]="minDate"
                [max]="maxDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (expenseForm.controls['date'].hasError('required') &&
              expenseForm.controls['date'].touched) {
              <mat-error>Date is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Expense Category</mat-label>
              <mat-select formControlName="expenseCategory">
                @for (item of category(); track item._id) {<mat-option value="{{ item.name }}">{{
                  item.name
                }}</mat-option
                >}
              </mat-select>
              @if (expenseForm.controls['expenseCategory'].hasError('required') &&
              expenseForm.controls['expenseCategory'].touched) {
              <mat-error>Category is required</mat-error>
              }</mat-form-field
            >
          </div>
        </div>
        <div class="d-flex justify-content-between gap-3 mb-1">
          <div class="form-div">
            <mat-form-field appearance="outline">
              <mat-label>Expense Payment Type</mat-label>
              <mat-select formControlName="paymentType">
                <mat-option value="cash" selected>Cash</mat-option>
                <mat-option value="upi">Upi</mat-option>
                <mat-option value="card">Card</mat-option>
              </mat-select>
              @if (expenseForm.controls['paymentType'].hasError('required') &&
              expenseForm.controls['paymentType'].touched) {
              <mat-error>Payment type is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="text-end" (click)="openDialog()">Add/Remove Category</div>
        </div>
        <div class="">
          <div class="w-100">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Expense Description</mat-label>
              <textarea type="text" matInput formControlName="comment"></textarea>

              @if (expenseForm.controls['comment'].hasError('maxlength')) {
              <mat-error>Maximum 200 characters allowed</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        @if (err) {
        <mat-error class="text-center mb-3">All fields are required</mat-error>
        }
        <div class="button d-flex gap-3 justify-content-end">
          <button type="reset" matButton="outlined">Reset</button>
          <button type="submit" matButton="outlined">Save</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
