.outer {
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 4;
}
mat-card {
  padding: 15px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
mat-form-field {
  margin-bottom: 10px;
}
.box {
  width: fit-content;
  min-width: 400px;
}

.valid-input {
  border-color: green;
}

form {
  width: 80%;
}

.form-div {
  width: 48%;
}

.form-div > mat-form-field {
  width: 100%;
}
