.main{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.catogoryList{
    flex-wrap: wrap;
    gap: 10px;
}
.chips{
    width: fit-content;
    padding: 5px;
}